<div>

  <md-card class="back-s2">

    <md-card-title>{{ title }}</md-card-title>
    <md-card-subtitle>{{ subTitle }}</md-card-subtitle>

    <md-card-content>
      <p class="font-questrial">
        WHAT MAKES EMPRESS DAY SPA SPECIAL?
      </p>

      <p class="font-questrial">
        Enter and discover a truly unique experience, a garden oasis centered in the middle of the Mojave Desert and
        allow yourself to enjoy the beautiful scenery. Discover a new world as you enter and are surrounded by
        breathtaking natural walls that evoke poetic slot canyons. Veins of silver thread throughout, while silver
        ceilings mimic nights lit by moon and stars. Long, dramatic hallways lead to experiences no less powerful.
        Sink into the Space Between, a serenity lounge where falling waters are heard and absolute calm settles in,
        creating a dramatic, soul-soaring atmosphere.
      </p>
      <p class="font-questrial">
      A monsoon cave rains serenity. The steam room gets reimagined, unveiling a cool micromist.
        Bask on a giant stone slab heated from within as if by an eternal sun. This motherstone is the center of our
        signature Hammam room and treatments.
      </p>
      <p class="font-questrial">
      Explore this seemingly simple yet wonderfully complex luxury spa and wellness retreat for yourself.';
      </p>
    </md-card-content>

  </md-card>

</div>
