<div *ngIf="!viewSingle">

  <md-card class="back-s2">

    <md-grid-list cols="4" *ngIf="floorPlans" rowHeight="4:3">
      <md-grid-tile *ngFor="let floorPlan of floorPlans" class="pointer" (click)="viewToSingle(floorPlan)"
        mdTooltip="Click to Enlarge" mdTooltipPosition="above" mdTooltipShowDelay="1000">
        <img md-card-image [src]="floorPlan.img" class="cover">
      </md-grid-tile>
    </md-grid-list>

  </md-card>

</div>

<div *ngIf="viewSingle">

  <md-card *ngIf="currentFloorPlan" class="back-s1">
    <md-card-content>
      <img md-card-image [src]="currentFloorPlan.img" class="cover pointer" (click) = "viewToList()"
        mdTooltip="Back" mdTooltipPosition="above" mdTooltipShowDelay="1000">
    </md-card-content>
  </md-card>
</div>
