<div *ngIf="!viewSingle">

  <md-card class="back-s2">

    <md-grid-list cols="4" *ngIf="floorPlans" rowHeight="4:3">
      <md-grid-tile *ngFor="let floorPlan of floorPlans" class="pointer">
        <img md-card-image [src]="floorPlan.img" class="cover">
      </md-grid-tile>
    </md-grid-list>

  </md-card>

</div>

<div *ngIf="viewSingle">

  <md-card *ngIf="currentFloorPlan" class="back-s1">
    <p align="left">
      <button md-card-avatar md-fab class="back-s4" (click) = "viewToList()"><md-icon>arrow_back</md-icon></button>
    </p>
    <md-card-content>
      <img md-card-image [src]="currentFloorPlan.img" class="contain">
    </md-card-content>
  </md-card>
</div>
