<div *ngIf="!viewSingle" class="mat-card">

  <md-card class="blue-back">
    <md-card-title>
      Procedures
    </md-card-title>
    <md-list *ngIf="procedures">
      <md-list-item *ngFor="let procedure of procedures" (click)="viewToSingle(procedure)"
            class="mat-nav-list" mdTooltip="Click to see info">
          {{procedure.name}}
      </md-list-item>
    </md-list>
  </md-card>

</div>


<div *ngIf="viewSingle" class="mat-card">

  <md-card *ngIf="currentProcedure" class="teal-back">

      <md-card-title>{{ currentProcedure.name }}</md-card-title>
      <md-card-subtitle>Duration: {{ currentProcedure.duration }}</md-card-subtitle>

      <md-card-content>
          <p>{{ currentProcedure.description }}</p>
          <p align="right">{{ currentProcedure.price }}</p>
          <p align="center"><button md-button>Buy</button></p>
      </md-card-content>

      <md-card-actions align = "start">
          <button md-button (click) = "viewToList()"><md-icon>arrow_back</md-icon></button>
      </md-card-actions>

  </md-card>

</div>
