<div *ngIf="!viewSingle">

  <md-card class="back-s2">
    <md-card-title>
      Procedures
    </md-card-title>
    <md-list *ngIf="procedures">
      <md-list-item *ngFor="let procedure of procedures" (click)="viewToSingle(procedure)"
            class="mat-nav-list" mdTooltip="Click to see info">
        <p class="font-questrial">{{ procedure.name | capitalize: true }}</p>
      </md-list-item>
    </md-list>
  </md-card>

</div>


<div *ngIf="viewSingle">

  <md-card *ngIf="currentProcedure" class="back-s4">
      <p align="left">
        <button md-card-avatar md-fab class="back-purple-a700" (click) = "viewToList()"><md-icon>arrow_back</md-icon></button>
      </p>

      <md-card-title>{{ currentProcedure.name }}</md-card-title>
      <md-card-subtitle>Duration: {{ currentProcedure.duration }}</md-card-subtitle>

      <md-card-content>
          <p class="font-roboto line-breaker">{{ currentProcedure.description }}</p>
          <p align="right">{{ currentProcedure.price }}</p>
      </md-card-content>

      <md-card-actions align = "end">
        <button md-button class="back-purple-a700">Buy</button>
      </md-card-actions>

  </md-card>

</div>
