<div *ngIf="!viewSingle" class="mat-card back-brown">

  <md-card class="back-blue-a400">
    <md-card-title>
      Products
    </md-card-title>
    <md-list *ngIf="products">
      <md-list-item *ngFor="let product of products" (click)="viewToSingle(product)"
        class="mat-nav-list" mdTooltip="Click to see info">
        <img md-card-avatar [src]="product.avatar">
        &nbsp; &nbsp; &nbsp;
        <p>{{product.name | capitalize}}</p>

      </md-list-item>
    </md-list>
  </md-card>

</div>


<div *ngIf="viewSingle" class="mat-card back-brown">

  <md-card *ngIf="currentProduct" class="back-blue-a200">
      <p align="left">
        <button md-card-avatar md-fab class="back-purple-a700" (click) = "viewToList()"><md-icon>arrow_back</md-icon></button>
      </p>

      <md-card-title>{{ currentProduct.name }}</md-card-title>
      <md-card-subtitle>{{ currentProduct.duration }}</md-card-subtitle>

      <md-card-content>
          <p>{{ currentProduct.description }}</p>
          <p align="right">{{ currentProduct.price }}</p>
      </md-card-content>

      <md-card-actions align = "end">
        <button md-button class="back-purple-a700">Buy</button>
      </md-card-actions>

  </md-card>

</div>
