@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$text-primary: #212121;
$text-secondary: #757575;

$red-a100: #ff8a80;
$red-a200: #ff5252;
$red-a400: #ff1744;
$red-a700: #d50000;

$pink-a100: #ff80ab;
$pink-a200: #ff4081;
$pink-a400: #f50057;
$pink-a700: #c51162;

$purple-a100: #ea80fc;
$purple-a200: #e040fb;
$purple-a400: #d500f9;
$purple-a700: #aa00ff;

$deep-purple-a100: #b388ff;
$deep-purple-a200: #7c4dff;
$deep-purple-a400: #651fff;
$deep-purple-a700: #6200ea;

$teal-a100: #a7ffeb;
$teal-a200: #64ffda;
$teal-a400: #1de9b6;
$teal-a700: #00bfa5;

$blue-a100: #82b1ff;
$blue-a200: #448aff;
$blue-a400: #2979ff;
$blue-a700: #2962ff;

$deep-orange-a100: #ff9e80;
$deep-orange-a200: #ff6e40;
$deep-orange-a400: #ff3d00;
$deep-orange-a700: #dd2c00;

$s1: #f4d4cd;
$s2: #fff3e3;
$s3: #ffffff;
$s4: #c5e3f8;


$brown-800: #4e342e;

body {
  font-size: 1rem;
  background-color: $s4;
  padding: 20px;
  text-align: center;
}

md-list-item:nth-of-type(3n+1) {
  background-color: $s3;
}

md-list-item:nth-of-type(3n+2) {
  background-color: $s4;
}

md-list-item:nth-of-type(3n+3) {
  background-color: $s1;
}


* {
  font-family: 'Pacifico', cursive;
  // font-family: "Roboto", Arial, sans-serif;
  // font-family: 'Questrial', sans-serif;
}

.font-roboto {
  font-family: "Roboto", Arial, sans-serif;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.font-questrial {
  font-family: 'Questrial', sans-serif;
}

.line-breaker {
  white-space: pre-wrap;
}

.back-s1 {
  background-color: $s1;
}

.back-s2 {
  background-color: $s2;
}

.back-s3 {
  background-color: $s3;
}

.back-s4 {
  background-color: $s4;
}

.back-teal {
  background-color: $teal-a400;
}

.back-blue-a100 {
  background-color: $blue-a100;
}

.back-blue-a200 {
  background-color: $blue-a200;
}

.back-blue-a400 {
  background-color: $blue-a400;
}

.back-brown {
  background-color: $brown-800;
}

.back-purple-a700 {
  background-color: $purple-a700;
}

.pointer {
  cursor: pointer;
}

.contain {
  object-fit: contain;
  height: 100%;
  width: 100%;
}



.cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}


